

body {
  width: auto;

}

/* *********** Header *******************/

header {
  text-align: center;
  background-color: #323238;
  /* margin-left: 750px;
  margin-right: 750px;
  margin-top: 30px; */
  
}

header>img {
  
  
  margin-right: 760px;
  margin-top: 10px;
  border: ;
  padding: ;
  width: auto;
  height: auto;
  

}


header>ul {
  /* text-align: center; */
  margin: ;
  border: ;
  padding: ;
  /* width: auto;
  height: auto; */
  position: relative;
  bottom: 45px;
  left: 100px;
}

header ul li {
  margin-right: 50px;
  margin-left: 50px;
  border-left-width: 20px;
}

li {
  display: inline;
  margin-right: 30px;
  border: ;
  padding: ;
  width: ;
  height: ;

}

a {
  color: #9e9e9e;
  margin: ;
  border: ;
  padding: ;
  width: ;
  height: ;

}

/* *********** Main *******************/

main {
  text-align: center;
  margin-bottom: 30px;
  border: ;
  padding: ;
  width: ;
  height: ;

}

main ul {
  margin-right: 0px;
  margin-left: 30px;
}

main ul>li {
  display: inline;
  margin-right: 30px;
  border: ;
  padding: ;
  width: ;
  height: ;
  
  
}

main>img {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* *********** Section *******************/

section {
  margin-right: 330px;
  text-align: center;
  height: 430px;
}

section>img {
  text-align: center;
  display: inline;
  margin-left: 170px
}

section h2 {
  display: inline;
  margin-left: 30px;
  position: relative;
  bottom: 375px;
  font-size: 30px;
  border: ;
  padding: ;
  width: ;
  height: ;

}

 p {
  position: relative;
  left: 600px;
  bottom: 200px;
  font-size: 25px;
  height: 50px;
  border: none;
  overflow: scroll;
  

}
button:hover{
  background-color: gray;
  color: black;
}

button {
  background-color: rgb(8, 8, 8);
  color: rgb(121, 116, 116);
  transition-duration: 350ms;
  display: inline;
  position: relative;
  left: 320px;
  bottom: 110px;
  font-size: 25px;
  margin-left: 30px;
  border-right-width: 3px
  border-left-width: 3px;
  border-radius: 15px;
  padding-left: 70px;
  padding-right: 70px;
  border-top-width: 3px;
  border-bottom-width: 3px;
  padding-top: 10px;
  padding-bottom: 10px;

}

/* *********** Footer *******************/


footer {
  background-color: #323238;
  
  border: ;
  padding: ;
  width: auto;
  height: 150px;

}
